= render "/layouts/header", title: "Willkommen im #{@chat_room.title}", subtitle: @chat_room.description
.container
  %form.js--new-message
    .js--chat-room{display: "none", data: {id: @chat_room.id}}
    %input.js--message-body.form-control{type: "text", title: "Nachricht"}
    %button.js--submit.btn.btn-primary Senden
    %hr
    .js--messages.messages{data: {"chat-room-id" => @chat_room.id}}
      = render @chat_room.messages.order(created_at: :desc)
